@use "../../../../styles/variables.scss" as *;
.toolbar {
  display: flex;
  gap: 8px;
}

.toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #5b7083;
  transition: 0.2s;

  &:hover {
    color: #0077cc;
  }
}

.active {
  background: rgba(0, 119, 204, 0.2); // Light blue background for active state
  color: #0077cc;
  border-radius: 4px;
}
