@use "../../styles/variables.scss" as *;
@use "../../styles/mixins/_mixins.scss" as *;

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.input,
.fileInput {
  width: 96%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  @include text-style(14px, "Poppins", 400);
}

.fileInput {
  background: #f9f9f9;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .groupAvatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
