@use "../../styles/variables.scss" as *;

.navbar {
  background: $secondary-color; // Dark background color
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}
