@use "../../styles/variables.scss" as *;
@use "../../styles/mixins/_mixins.scss" as *;

.navbar {
  width: 100%;
  height: 60px;
  background: $primary-color;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
}

.searchContainer {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 15px;
  border-radius: 8px;
  width: 300px;
  color: $white;
}

.searchInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  @include text-style(14px, "Poppins", 400);
  color: $white;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.searchIcon {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  @include text-style(14px, "Poppins", 600);
  color: $white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-right: 30px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.logoutIcon {
  color: rgba(255, 255, 255, 0.8);
}
