@use "../../styles/variables.scss" as *;
@use "../../styles/mixins/_mixins.scss" as *;

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  label {
    @include text-style(14px, "Poppins", 600);
    color: #255e7e;
  }
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  @include text-style(14px, "Poppins", 400);
  box-sizing: border-box;
  border: 1px solid $primary-color;
  color: #255e7e;
  margin-bottom: 20px;
}

.addInfo {
  background: none;
  border: none;
  @include text-style(14px, "Poppins", 700);
  color: $primary-color;
  cursor: pointer;
  margin-top: 8px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 10px;
}
