@use "../../styles/variables.scss" as *;

.container {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 60px;
  background: $secondary-color;

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
}

