@use "../../styles/variables.scss" as *;

.messageInput {
  display: flex;
  flex-direction: column;
  background: #f7fbff;
  border: 1px solid #c2e0ff;
  border-radius: 12px;
  padding: 12px;
  gap: 12px;
}

.toolbar {
  display: flex;
  gap: 8px;
}

.toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #5b7083;
  transition: 0.2s;

  &:hover {
    color: #0077cc;
  }
}

.input {
  flex: 1;
  padding: 12px;
  border: none;
  font-size: 14px;
  color: #333;
  background: transparent;
  outline: none;
}

/* ✅ File Input Hidden */
.fileInput {
  display: none;
}

.previewContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.preview {
  position: relative;
}

.imagePreview {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.removeButton {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.sendButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #0077cc;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #005fa3;
  }
}

.bottomBar {
  display: flex;
  justify-content: space-between;
}

.editorInput:focus {
  outline: none !important;
  border: 1px solid transparent !important;
}

