@use "../../styles/variables.scss" as *;
@use "../../styles/mixins/_mixins.scss" as *;

.modalContainer {
  .heading {
    @include text-style(36px, "Poppins", bold, $primary-color);
    margin-bottom: 25px;
    margin-top: -5px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: auto;
  }

  .toggleAuth {
    @include input-style(80%, 14px);
  }

  .orSeparator {
    margin: 15px 0;
    text-align: center;
    color: $grey1;
    @include font-size(14px);
  }

  .toggleAuth {
    @include button-style(
      $white,
      $primary-color,
      80%,
      2px solid $primary-color
    );
  }
}
